{% extends "layout/layout.html" %}
{% load static %}
{% block css %}
<link href="{% static 'css/styles02.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<!-- Page Heading -->
<section class="ftco-about ftco-section ftco-no-pt ftco-no-pb" id="about-section">
    <div class="container">
        <div class="row d-flex no-gutters">
            <!-- Joo In-->
            <div class="col-md-6 col-lg-5 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay">
                    </div>
                    <div class="img d-flex align-self-stretch align-items-center">
                        <img class="img-fluid" src="{% static 'img/team05.jpg' %}" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 pl-md-4 pl-lg-5 py-5">
                <div class="py-md-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading-section ftco-animate">
                            <span class="subheading">My Intro</span>
                            <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">About Me</h2>
                            <p>에휴 </p>
                            <ul class="about-info mt-4 px-md-0 px-2">
                                <li class="d-flex"><span>Name:</span> <span>Joo In</span></li>
                                <li class="d-flex"><span>Date of birth:</span> <span>October 05, 1995</span></li>
                                <li class="d-flex"><span>Address:</span> <span>경기도 고양시 일산동</span></li>
                                <li class="d-flex"><span>code Num:</span> <span>1001</span></li>
                                <li class="d-flex"><span>Email:</span> <span>jooin95@naver.com</span></li>
                                <li class="d-flex"><span>Phone: </span> <span>010-3376-9768</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--강승우 -->
            <div class="col-md-6 col-lg-5 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay">
                    </div>
                    <div class="img d-flex align-self-stretch align-items-center">
                        <img class="img-fluid" src="{% static 'img/team02.jpg' %}" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 pl-md-4 pl-lg-5 py-5">
                <div class="py-md-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading-section ftco-animate">
                            <span class="subheading">My Intro</span>
                            <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">About Me</h2>
                            <p>에휴 </p>
                            <ul class="about-info mt-4 px-md-0 px-2">
                                <li class="d-flex"><span>Name:</span> <span>강승우 </span></li>
                                <li class="d-flex"><span>Date of birth:</span> <span>January 17, 1997</span></li>
                                <li class="d-flex"><span>Address:</span> <span>경기도 용인시 어딘가</span></li>
                                <li class="d-flex"><span>code Num:</span> <span>1002</span></li>
                                <li class="d-flex"><span>Email:</span> <span>portt1997@gmail.com</span></li>
                                <li class="d-flex"><span>Phone: </span> <span>010-몰라</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--황세호-->
            <div class="col-md-6 col-lg-5 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay">
                    </div>
                    <div class="img d-flex align-self-stretch align-items-center">
                        <img class="img-fluid" src="{% static 'img/team03.jpg' %}" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 pl-md-4 pl-lg-5 py-5">
                <div class="py-md-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading-section ftco-animate">
                            <span class="subheading">My Intro</span>
                            <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">About Me</h2>
                            <p>에휴 </p>
                            <ul class="about-info mt-4 px-md-0 px-2">
                                <li class="d-flex"><span>Name:</span> <span>황세호 </span></li>
                                <li class="d-flex"><span>Date of birth:</span> <span>October 26, 1995</span></li>
                                <li class="d-flex"><span>Address:</span> <span>경기도 성남시 분당구</span></li>
                                <li class="d-flex"><span>code Num:</span> <span>1003</span></li>
                                <li class="d-flex"><span>Email:</span> <span>seho4815@naver.com</span></li>
                                <li class="d-flex"><span>Phone: </span> <span>010-9205-4985</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--김정운 -->
            <div class="col-md-6 col-lg-5 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay">
                    </div>
                    <div class="img d-flex align-self-stretch align-items-center">
                        <img class="img-fluid" src="{% static 'img/team04.jpg' %}" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 pl-md-4 pl-lg-5 py-5">
                <div class="py-md-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading-section ftco-animate">
                            <span class="subheading">My Intro</span>
                            <h2 class="mb-4" style="font-size: 34px; text-transform: capitalize;">About Me</h2>
                            <p>에휴 </p>
                            <ul class="about-info mt-4 px-md-0 px-2">
                                <li class="d-flex"><span>Name:</span> <span>김정운 </span></li>
                                <li class="d-flex"><span>Date of birth:</span> <span>January 5, 1996</span></li>
                                <li class="d-flex"><span>Address:</span> <span>경기도 안성시 남파로</span></li>
                                <li class="d-flex"><span>code Num:</span> <span>1004</span></li>
                                <li class="d-flex"><span>Email:</span> <span>rlawjddns0@naver.com</span></li>
                                <li class="d-flex"><span>Phone: </span> <span>010-5955-0105</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block js %}
    <script src="{% static 'js/lucete.js' %}"></script>
{% endblock js %}
